*{
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    width: 40px;
    height: 40px;
    font-weight: 500;
    background-color: rgb(196, 195, 195);
    text-align: center;


}

.daChon{
    background-color: rgb(123, 238, 99);
}

.gheDaChon{
    background-color: rgb(151, 52, 52);
    cursor: no-drop;
}